{% extends "header.html" %}

{% block body %}

<body>
	<div class="container" align="center">
		<br>
		<h4>Add an Item:</h4>
		<br>
		<form action="/addItem" class="form-inline" method="post">
			<input type="text" class="form-control" placeholder = "Item" name="yourItem" value="">
			<input type="text" id="findname" placeholder="Search for Users...">
			<input class="btn btn-default" type="submit" value="Add">
		</form>

		<p>{{ error }}</p>
	</div>
	<script>
		function loadDoc() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			console.log(this.responseText);
			}
			};
			xhttp.open("GET", "/users/", true);
			xhttp.send();
			}
			loadDoc();
		
		 // $.get('/users', function(data, status) {
// 		 console.log(data);
// 		 });
	 </script>
</body>
{% endblock %}