{% extends "header.html" %}



{% block body %}

<div role="tabpanel">

  <!-- Nav tabs from bootstrap. I love bootstrap.-->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab">Add or Communicate</a></li>
  </ul>


  <!-- Tab panes. This loops through TOPIC_DICT and displays the links form it
  I chose to put these content_management.py to easily be able to add and remove different topics. Right now, it's pretty bare. -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="basics">
	<ul>
	   {% for t in TOPIC_DICT["Basics"] %}
	   <li><a href="{{t[1]}}">{{t[0]}}</a></li>
	   	{% endfor %}
	</ul>
  </div>


</div>

</div>



<div class="container" align="center" style="max-width: 300px">
	<table class="table table-hover">
	<tr>
		<th>{{ the_title }}</th>
	</tr>
	<!-- A form to populate the items from the database into an html table with checkboxes -->
	<form action="/itemUpdate" method="POST">
	{% for log_row in the_contents %}
	<tr>
		{% for item in log_row %}
		<td><input type="checkbox" name="item" value="{{ item }}">&nbsp;&nbsp;&nbsp;{{ item }}</td>
		{% endfor %}

	</tr>
	{% endfor %}
	<td><input type="submit" value="Mark Completed"></td>
	</form>
</table>
</div>
 <!--  A second form for the removed items. -->
<div class="container" align="center" style="max-width: 300px">
	<table class="table table-hover">
	<tr>
		<th>{{ finished_title }}</th>
	</tr>
	{% for log_row in finished_items %}
	<tr>
		{% for item_complete in log_row %}
		<td>{{ item_complete }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</div>

{% endblock %}