{% extends 'base.html' %}

{% block body %}

<h1 class=login-form>{{ the_title }}</h1>

<h3>Would you like to add an item?</h3></br>
<form action="/addingItem" method="POST">
	<p>Describe a need:</p>
	<input type="text" name="addItem" placeholder="Add Item">
	<br>
	<br>
	<input type="submit" value="Submit">
</form>


<!-- {% for item in data %}
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[1]}}</td>
    ...
</tr>
{% endfor %} -->

<table class="center">
	<tr>
		{% for row_title in the_row_titles %}
		<th>{{ row_title }}</th>
		{% endfor %}
	</tr>
	{% for log_row in the_data %}
	<tr>
		{% for item in log_row %}
		<td>{{ item }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

{% endblock %}