{% extends 'base.html' %}

{% block body %}

<h1 class=login-form>{{ the_title }}</h1>
<h2 class=login-form>{{ the_instruction }}</h2>

<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="title">
				<h1>Create User</h1>
			</div>
 
			<div class="login-form">
				<div class="control">
				<input type="text" class="login-field" value="" placeholder="Username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control">
				<input type="password" class="login-field" value="" placeholder="Password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Create User" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

{% endblock %}